# --------------- START APP Environment ---------------
NODE_ENV=DEV
APP_NAME=thryffy
GLOBAL_APP_NAME=thryffy
SERVER_URL=http://localhost:5000
WEBSITE_URL=http://localhost:8080

DEV_PORT=5000
DEV_APP_NAME=thryffy
DEV_DB_NAME=thryffy-dev
DEV_DB_HOST=127.0.0.1
DEV_DB_USER=root
DEV_DB_PASSWORD=1234
DEV_DB_DRIVER=mysql

TEST_PORT=5000
TEST_APP_NAME=thryffy
TEST_DB_NAME=thryffy-test
TEST_DB_HOST=127.0.0.1
TEST_DB_USER=root
TEST_DB_PASSWORD=1234
TEST_DB_DRIVER=mysql

STAGING_PORT=5000
STAGING_DB_NAME=thryffy
STAGING_DB_HOST=
STAGING_DB_USER=root
STAGING_DB_PASSWORD=
STAGING_DB_DRIVER=mysql

PRODUCTION_PORT=5000
PRODUCTION_DB_NAME=thryffy-production
PRODUCTION_DB_HOST=
PRODUCTION_DB_USER=root
PRODUCTION_DB_PASSWORD=
PRODUCTION_DB_DRIVER=mysql
# --------------- END APP Environment ---------------

# --------------- START AWS Environment ---------------
AWS_S3_URL=
AWS_S3_BUCKET=thryffy-dev
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_URL_PUBLIC=
AWS_S3_BUCKET_PUBLIC=
# --------------- END AWS Environment ---------------

# --------------- START SUPABASE Environment ---------------
SUPABASE_URL=https://oxfzhmmqpupibrdlvqgs.supabase.co
SUPABASE_BUCKET=THRYFFY-DEV
SUPABASE_KEY=
SUPABASE_PREFIX=/storage/v1/object/public/
# --------------- END SUPABASE Environment ---------------

# --------------- START EMAIL Environment ---------------
NO_REPLY_EMAIL=
SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_REJECT_AUTH=

SENDGRID_API_KEY=
SENDGRID_ENQUIRY_SENDER=enquiries@thryffy.com.my
SENDGRID_BILLING_SENDER=billing@thryffy.com.my
SENDGRID_DISPUTE_SENDER=dispute@thryffy.com.my
SENDGRID_SUPPORT_SENDER=support@thryffy.com.my
EMAIL_SENDER_NAME=Thryffy
NO_REPLY_EMAIL=thryffy@thryffy.com.my
CONTACT_US_EMAIL=contact@thryffy.com.my
ADMIN_EMAIL=admin@thryffy.com.my
# --------------- END EMAIL Environment ---------------

FACEBOOK_APP_ID=fake_id
FACEBOOK_APP_SECRET=fake_id
FACEBOOK_CALLBACK_URL=http://localhost:5000/api/mobile/auth/facebook/callback

GOOGLE_CLIENT_ID=fake_id
GOOGLE_CLIENT_SECRET=fake_id
GOOGLE_CALLBACK_URL=/api/mobile/auth/google/callback

APPLE_CLIENT_ID=com.thryffy.ios
APPLE_TEAM_ID=

ONEWAYSMS_SENDER_ID=
ONEWAYSMS_USERNAME=
ONEWAYSMS_PASSWORD=
ONEWAYSMS_PHONENO=
ONEWAYSMS_URL=http://gateway.onewaysms.com.au:10001/api.aspx

TRACKING_MORE_URL=https://api.trackingmore.com
TRACKING_MORE_API_KEY=

FCM_SERVER_KEY=
FCM_URL=https://fcm.googleapis.com/fcm/send

BILLPLZ_API_KEY=
BILLPLZ_SANDBOX_API_KEY=
BILLPLZ_URL=https://www.billplz.com/api
BILLPLZ_SANDBOX_URL=https://www.billplz-sandbox.com/api
BILLPLZ_SANDBOX_SIGNATURE_KEY=
BILLPLZ_SIGNATURE_KEY=
BILLPLZ_COLLECTION_ID=

NGROK_URL=

TOOKAN_API_KEY=

BEEP_PAY_MERCHANT_ID=
BEEP_PAY_API_KEY=

